<div>
<div class="item">Getting Started</div><hr>
<div class="section-title">Reference</div>
<div class="item">Plot Schema</div>
<div class="item">Function Reference</div><hr>
<div class="section-title">Examples</div>
<div class="item">2D</div>
<div class="item">Maps</div>
<div class="item">3D</div>
<div class="item">Webgl</div>
<div class="item">Events</div>
<div class="item">Layout</div>

<div class="section-title">Community</div>
<div class="item">Contributing</div>
<div class="item">Documentation</div>
<div class="item">GitHub</div><hr>
<div class="section-title">Tools</div>
<div class="item">Web Editor</div>
<div class="item">Codepen Sandbox</div></div>
