<div>
<div class="item">Getting Started</div><hr>
<div class="section-title">Reference</div>
<div class="item">Plot Schema</div>
<div class="item">Function Reference</div><hr>
<div class="section-title">Examples</div>
<div class="section-title">Simple</div>
<div class="item">Plotly.js</div>
<div class="item">Scatter Plots</div>
<div class="item">Line Charts</div>
<div class="item">Bar Charts</div>
<div class="item">Horizontal Bar Charts</div>
<div class="item">Pie Charts</div>
<div class="item">Time Series</div>
<div class="item">Bubble Charts</div>
<div class="item">Error Bars</div>
<div class="item">Box Plots</div>
<div class="item">Filled Area Plots</div>
<div class="item">Wind Rose Charts</div>
<div class="item">Contour Plots</div>
<div class="item">2d Density Plots</div>
<div class="item">Heatmaps</div>
<div class="item">Heatmap and Contour Colorscales</div>
<div class="item">Histograms</div>
<div class="item">Inset Plots</div>
<div class="item">2D Histograms</div>
<div class="item">Polar Charts</div>
<div class="item">Multiple Chart Types</div>
<div class="item">Log Plots</div>
<div class="item">Shapes</div>
<div class="item">Responsive / Fluid Layout</div>
<div class="item">Candlestick Charts</div>
<div class="item">OHLC Charts</div>
<div class="item">Subplots</div>
<div class="item">Multiple Axes</div><hr>
<div class="section-title">Maps</div>
<div class="item">Bubble Maps</div>
<div class="item">Choropleth Maps</div>
<div class="item">Scatter Plots on Maps</div>
<div class="item">Lines on Maps</div><hr>
<div class="section-title">3D</div>
<div class="item">3D Line Plots</div>
<div class="item">3D Scatter Plots</div>
<div class="item">3D Surface Plots</div>
<div class="item">3D Cluster Graph</div>
<div class="item">Ribbon Plots</div><hr>
<div class="section-title">Webgl</div>
<div class="section-title">Events</div>
<div class="item">Remove Trace from Plot</div>
<div class="item">Click Events</div>
<div class="item">Hover Events</div>
<div class="item">Button Events</div>
<div class="item">Zoom Events</div>
<div class="item">Slider Events</div>
<div class="item">Dropdown Events</div><hr>
<div class="section-title">Layout</div>
<div class="item">Text and Annotations</div>
<div class="item">Axes</div>
<div class="item">Hover Text and Formatting</div>
<div class="item">Text and Font Styling</div>
<div class="item">Configuration Options</div>
<div class="item">Setting the Title, Legend Entries, and Axis Titles</div>
<div class="item">LaTeX</div>
<div class="item">Legends</div>
<div class="item">Setting Graph Size</div>
<div class="item">Read CSV Data from an Ajax Call</div><hr>
<div class="section-title">Community</div>
<div class="item">Contributing</div>
<div class="item">Documentation</div>
<div class="item">GitHub</div><hr>
<div class="section-title">Tools</div>
<div class="item">Web Editor</div>
<div class="item">Codepen Sandbox</div></div>
